<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Booking</title>
    
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
</head>

<body>
    <nav>
        <ul>
            <li>
                <a class="nav-link" href="/hotel">Home</a>
            </li>
            <li>
                <a class="nav-link" href="/hotel/new_booking/">Book</a>
            </li>
        </ul>
    </nav>

    <form action="{% url 'hotel:delete_booking' booking.pk %}" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete booking?</p>
        <input type="submit" value="Confirm" />
      </form>
</body>
</html>